{% extends "LeBonCoinBundle::layout.html.twig" %}

{% block title %}Résultat de recherche{% endblock %}

{% block body %}
    <div class="col-md-offset-1 col-md-10">
        <h1>Liste des annonces</h1>
        {% for advert in adverts %}
            <div class="col-md-offset-1 col-md-10" style="margin-bottom: 20px">
                <a href="{{ path('leboncoin_show_advert', {'id': advert.id}) }}">
                    {% if advert.images is defined %}
                        <img src="{{ asset(advert.images.0.getUploadDir ~ '/' ~ advert.images.0.url) }}" alt="{{ advert.images.0.url }}" class="col-md-3">
                    {% endif %}
                    <div class="col-md-7">
                        <h4>{{ advert.name }}</h4>
                        <p>{{ advert.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
